/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add these specific rules for the custom prose class */
.custom-prose-full-width p,
.custom-prose-full-width ul,
.custom-prose-full-width ol,
.custom-prose-full-width h1,
.custom-prose-full-width h2,
.custom-prose-full-width h3,
.custom-prose-full-width h4,
.custom-prose-full-width h5,
.custom-prose-full-width h6,
.custom-prose-full-width blockquote,
.custom-prose-full-width pre,
.custom-prose-full-width table,
.custom-prose-full-width figure,
.custom-prose-full-width figcaption {
  max-width: none !important;
}